[user]
	email = 30984652+KargJonas@users.noreply.github.com
	name = Jonas Karg
[core]
	editor = vim
[pull]
	rebase = true

# If the repo is inside the alt-code/, use the alt config
[includeIf "gitdir:~/alt-code/"]
    path = ~/.gitconfig-alt
